[gcode_macro _CLEAN_NOZZLE_GANTRY]
gcode:
   SAVE_GCODE_STATE NAME=clean_nozzle_gantry
   G90
   G1 X30 F18000   #Adjust the X value position to be the X position left most of the brush, without touching it and without touching the nozzle parking spot/seal either.
   G1 X70 F18000   #Adjust the X value position to be the X position right most of the brush, without touching it.
   G1 Y349 F18000  #Adjust the Y355 position to be the middle of the brush 
   G1 X30 F18000
   G1 X70 F18000   
   RESTORE_GCODE_STATE NAME=clean_nozzle_gantry





# You can find your values by homing X & Y then using mainsail to place the toolhead at the left most side of the brush 
# and right most side of the brush. Adjust Y to be in the middle or as close to the middle as possible.

# Then update the below variables in the mmu_macro_vars.cfg as below. 

# ATTENTION: While the nozzle stop can withstand sustained heat of 287C (subject to the RTV used) 
# it is recommended to set the variable_enable_park_runout to false as you don't want to park the nozzle 
# on the seal and wait for extended periods of time to prevent it from melting.




# [gcode_macro _MMU_SEQUENCE_VARS]

# variable_enable_park_printing   : 'toolchange,load,unload,runout,pause,cancel'
# variable_enable_park_standalone : 'toolchange,load,unload,pause,cancel'
# variable_enable_park_disabled   : 'pause,cancel'


# variable_park_toolchange        : 24.5, 349, 1, 5, 2
# variable_park_runout            : 24.5, 349, 5, 10, 2
# variable_park_pause             : 24.5, 349, 5, 10, 2
# variable_park_cancel            : 24.5, 349, 10, 5, 5

# variable_post_form_tip_position : 24.5, 349, 0

# variable_user_post_load_extension     : ' _CLEAN_NOZZLE_GANTRY'